@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/******************
 * mixinの定義 *
 ******************/

$breakpoints: (
  "md": "screen and (max-width: 1400px)",
  "tab": "screen and (max-width: 1024px)",
  "sp": "screen and (max-width: 599px)",
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin normal-width-contents {
  max-width: 1280px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

@mixin position_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/******************
 * 共通のスタイル *
 ******************/

* {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "YuGothic", sans-serif;
}

html {
  font-size: 62.5%;
}

section {
  margin-bottom: 160px;
}

.large-headline {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.1em;
  font-size: 4.8rem;
}

.medium-headline {
  letter-spacing: 0.1em;
  font-size: 3rem;
}

.h2-subheadline {
  font-size: 1.6rem;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 30px;
}

nav {
  height: 100%;
  & > ul {
    display: flex;
    list-style: none;
    height: 100%;
  }
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
  @include position_center();
  font-weight: bold;
  @include mq() {
    font-size: 1.5rem;
  }
}

.text-container {
  display: flex;
  align-items: center;
  min-height: 100px;
  flex-grow: 1;
  background-color: #fff;
  time {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.4rem;
    color: #959595;
  }
  p {
    padding-left: 30px;
    padding-right: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #303030;
    text-align: left;
  }

  @include mq(tab) {
    flex-direction: column;
    align-items: start;
    time {
      margin-top: 10px;
      margin-left: 20px;
    }
  }
}

.navy-style {
  background-color: #020544;
  color: #fff;
}

.detail-btn {
  position: relative;
  @include position_center();
  @extend .navy-style;
  width: 300px;
  height: 80px;
  margin: 0 auto;
  font-size: 1.8rem;
  .Arrow-Right {
    border-color: #fff;
  }
}

.background-square1 {
  position: absolute;
  background-color: #2a2f90;
  z-index: -1;
}

.background-square2 {
  position: absolute;
  background-color: #f2f2f2;
  z-index: -2;
}

.Arrow-Right {
  border-top: solid 2px #202376;
  border-right: solid 2px #202376;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  position: absolute;
  right: 30px;
  top: calc(50% - 4.2px);
}

/******************
* 個別のスタイル *
******************/

/*** ヘッダー ***/

header {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
  color: #333;
  @include mq() {
    height: 60px;
  }
}

h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3.6rem;
  margin-left: 80px;
  @include mq() {
    font-size: 3rem;
    margin-left: 30px;
  }
}

.nav-highlight {
  @extend .navy-style;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 50px;
}

/*** メインビジュアル 重要なお知らせ ***/

.main-visual {
  margin-bottom: 100px;
}

.main-image {
  width: 100%;
}

.info-container {
  position: relative;
  bottom: 50px;
  display: flex;
  @include normal-width-contents();
  @include mq(tab) {
    bottom: 0;
  }
  @include mq(sp) {
    display: block;
  }
}

.h3-container {
  width: 270px;
  @include position_center();
  @include mq(sp) {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  h3 {
    font-size: 2.2rem;
    @include mq(tab) {
      font-size: 1.8rem;
    }
  }
}

/*** 当社の強み ***/

.strength-section {
  @include normal-width-contents();
  position: relative;
  .background-square1 {
    max-width: 720px;
    width: 56.25%;
    min-width: 400px;
    height: 400px;
    top: -80px;
    left: -80px;
  }
  .background-square2 {
    width: 1450px;
    top: -220px;
    bottom: 235px;
    left: 12.5%;
  }

  .large-headline {
    color: #fffefe;
  }

  .h2-subheadline {
    color: #fffefe;
  }
}

.strengths-container {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  @include mq(tab) {
    display: block;
  }
}

.strength-item {
  width: 31.25%;
  margin-bottom: 60px;
  text-align: center;
  @include mq(tab) {
    width: 100%;
  }
  .strength-title {
    display: flex;
    align-items: center;
    margin-top: 30px;

    .bullet {
      height: 30px;
      width: 5px;
      background-color: #2a2f90;
    }
    .medium-headline {
      color: #161616;
      margin-left: 20px;
    }
  }
  img {
    width: 100%;
    max-width: 400px;
  }
  p {
    line-height: 2;
    text-align: left;
  }
}

/*** 事業内容 製品情報 ***/

.business-products-section {
  position: relative;
  .background-square1 {
    width: 100vw;
    top: 235px;
    bottom: 235px;
    @include mq() {
      top: 148.3px;
      bottom: 148.3px;
    }
    @include mq(tab) {
      top: 23.728vw;
      bottom: 136.5px;
    }
  }
}

.side-container {
  display: flex;

  @include mq(tab) {
    flex-direction: column;
  }
}

.side-image-container {
  width: 800px;
  @include mq() {
    width: 500px;
  }
  @include mq(tab) {
    width: 80%;
    margin: auto;
    order: 1;
  }
}

.side-image {
  width: 100%;
  height: auto;
  display: block;
}

.side-content {
  width: 640px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq() {
    width: 524px;
  }

  @include mq(tab) {
    width: 80%;
    margin: auto;
    order: 2;
  }

  .medium-headline {
    margin-bottom: 35px;
    padding-left: 20px;

    @include mq() {
      margin-bottom: 10px;
    }
  }

  p {
    line-height: 2;
    padding-left: 20px;
    padding-right: 20px;
  }

  .detail-btn {
    margin-top: 40px;
    margin-right: 0;
    @include mq() {
      margin-top: 10px;
    }
  }
}

.right-justify {
  margin-top: 80px;
  justify-content: flex-end;
}

/*** 会社案内 採用情報 ***/

.company-recruit-section {
  @include normal-width-contents();
  @include position_center();
  max-height: 750px;
  height: 52.7vw;
  @include mq(tab) {
    height: 55vw;
  }
  position: relative;
  .background-square1 {
    width: 62.5%;
    height: 45.7vw;
    max-height: 650px;
    top: 0;
    left: 0;
    @include mq(tab) {
      height: 50vw;
    }
  }
  .background-square2 {
    width: 62.5%;
    height: 45.7vw;
    max-height: 650px;
    bottom: 0;
    right: 0;
    @include mq(tab) {
      height: 50vw;
    }
  }
}

.image-title-container {
  display: flex;
  justify-content: space-between;
  margin-right: 7.8%;
  margin-left: 7.8%;
  img {
    width: 100%;
    display: block;
  }
}

.image-title-item {
  position: relative;
  margin: 1.6%;
}

.image-text-container {
  height: 75px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  @include mq(tab) {
    position: relative;
  }
  @include mq(sp) {
    height: 50px;
  }
  h3 {
    padding-left: 30px;
    @include mq(sp) {
      font-size: 2rem;
    }
  }
}

/*** 新着情報 ***/

.news-section {
  background-color: #f2f2f2;
  padding: 75px;
  @include mq() {
    padding-left: 0;
    padding-right: 0;
  }
  h2 {
    color: #333;
  }
}

.news-container {
  @include normal-width-contents();
  text-align: center;

  .h2-subheadline {
    color: #2a2f90;
  }
}
.news-contents {
  margin-top: 30px;
  margin-bottom: 65px;
}

.news-item {
  padding-left: 20px;
  position: relative;
  &:nth-child(even) {
    background-color: #f0f0fa;
  }
  p.underline {
    text-decoration: underline;
  }
}

/*** お問い合わせ ***/

.contact-section {
  display: flex;
  text-align: center;
  align-content: center;
  @include normal-width-contents();
  color: #fefefe;
  background-color: #040865;
  padding: 35px;
  .h2-subheadline {
    margin-top: 10px;
  }

  @include mq(tab) {
    display: block;
  }
}

.contact-container {
  width: 50%;
  padding-top: 35px;
  padding-bottom: 45px;
  @include mq(tab) {
    width: 100%;
  }
  p {
    margin-top: 50px;
    line-height: 2;
  }
  & + .contact-container {
    border-left: solid 1px #fefefe;
    padding-top: 50px;
    @include mq(tab) {
      border: none;
    }
  }
}

.tel {
  font-size: 30px;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.tel-number {
  font-size: 48px;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.contact-btn {
  border: solid 1px #fff;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 18em;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.2em;
}

/*** フッター ***/
footer {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #020534;
  color: #fff;
}

.footer-container {
  @include normal-width-contents();

  h2 {
    font-size: 30px;
  }
  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.padding-left-0 {
  padding-left: 0;
}

.footer-below-container {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}

@include mq(tab) {
  .footer-menu {
    display: inline;
  }
  .footer-nav-item {
    padding-left: 10px;
    justify-content: start;
  }
}

.copyright {
  font-size: 12px;
}
