@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
/******************
 * mixinの定義 *
 ******************/
/******************
 * 共通のスタイル *
 ******************/
* {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "YuGothic", sans-serif;
}

html {
  font-size: 62.5%;
}

section {
  margin-bottom: 160px;
}

@media screen and (max-width: 1024px) {
  section {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 599px) {
  section {
    margin-bottom: 50px;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
}

.large-headline {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.1em;
  font-size: 4.8rem;
}

.medium-headline {
  letter-spacing: 0.1em;
  font-size: 3rem;
}

.h2-subheadline {
  font-size: 1.6rem;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-family: "Noto Sans JP", sans-serif;
  margin-top: 30px;
}

nav {
  height: 100%;
}

nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 100%;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

@media screen and (max-width: 1400px) {
  .nav-item {
    font-size: 1.5rem;
  }
}

.menu-link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fff;
}

.text-container time {
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.4rem;
  color: #959595;
}

.text-container p {
  padding-left: 30px;
  padding-right: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #303030;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .text-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .text-container time {
    margin-top: 10px;
    margin-left: 20px;
  }
}

.navy-style, .detail-btn, .nav-highlight {
  background-color: #020544;
  color: #fff;
}

.detail-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 80px;
  margin: 0 auto;
  font-size: 1.8rem;
}

.detail-btn .Arrow-Right {
  border-color: #fff;
}

.background-square1 {
  position: absolute;
  background-color: #2a2f90;
  z-index: -1;
}

.background-square2 {
  position: absolute;
  background-color: #f2f2f2;
  z-index: -2;
}

.Arrow-Right {
  border-top: solid 2px #202376;
  border-right: solid 2px #202376;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 30px;
  top: calc(50% - 4.2px);
}

/******************
* 個別のスタイル *
******************/
/*** ヘッダー ***/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  margin: 0 auto;
  color: #333;
}

@media screen and (max-width: 1400px) {
  header {
    height: 60px;
  }
}

h1 {
  margin-left: 80px;
}

@media screen and (max-width: 1400px) {
  h1 {
    margin-left: 30px;
  }
}

h1 a {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3.6rem;
}

@media screen and (max-width: 1400px) {
  h1 a {
    font-size: 3rem;
  }
}

.nav-highlight {
  padding-left: 50px;
  padding-right: 50px;
}

.nav-highlight a {
  color: #fff;
  font-weight: bold;
}

/*** メインビジュアル 重要なお知らせ ***/
.main-visual {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1400px) {
  .main-visual {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .main-visual {
    margin-top: 0;
  }
}

.main-image {
  width: 100%;
}

.info-container {
  position: relative;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .info-container {
    bottom: 0;
  }
}

@media screen and (max-width: 599px) {
  .info-container {
    display: block;
  }
}

.h3-container {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 599px) {
  .h3-container {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.h3-container h3 {
  font-size: 2.2rem;
}

@media screen and (max-width: 1024px) {
  .h3-container h3 {
    font-size: 1.8rem;
  }
}

/*** 当社の強み ***/
.strength-section {
  max-width: 1280px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.strength-section .background-square1 {
  max-width: 720px;
  width: 56.25%;
  min-width: 400px;
  height: 400px;
  top: -80px;
  left: -80px;
}

.strength-section .background-square2 {
  max-width: calc(87.5% + (100vw-1280px) / 2);
  width: calc(87.5% + 5vw);
  top: -220px;
  bottom: 235px;
  left: 12.5%;
}

.strength-section .large-headline {
  color: #fffefe;
}

.strength-section .h2-subheadline {
  color: #fffefe;
}

.strengths-container {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .strengths-container {
    display: block;
  }
}

.strength-item {
  width: 31.25%;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .strength-item {
    width: 100%;
  }
}

.strength-item .strength-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.strength-item .strength-title .bullet {
  height: 30px;
  width: 5px;
  background-color: #2a2f90;
}

.strength-item .strength-title .medium-headline {
  color: #161616;
  margin-left: 20px;
}

.strength-item img {
  width: 100%;
  max-width: 400px;
}

.strength-item p {
  line-height: 2;
  text-align: left;
}

/*** 事業内容 製品情報 ***/
.business-products-section {
  position: relative;
}

.business-products-section .background-square1 {
  width: 100vw;
  top: 235px;
  bottom: 235px;
}

@media screen and (max-width: 1400px) {
  .business-products-section .background-square1 {
    top: 148.3px;
    bottom: 148.3px;
  }
}

@media screen and (max-width: 1024px) {
  .business-products-section .background-square1 {
    top: 23.728vw;
    bottom: 136.5px;
  }
}

.side-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .side-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.side-image-container {
  width: 800px;
}

@media screen and (max-width: 1400px) {
  .side-image-container {
    width: 500px;
  }
}

@media screen and (max-width: 1024px) {
  .side-image-container {
    width: 80%;
    margin: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.side-image {
  width: 100%;
  height: auto;
  display: block;
}

.side-content {
  width: 640px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1400px) {
  .side-content {
    width: 524px;
  }
}

@media screen and (max-width: 1024px) {
  .side-content {
    width: 80%;
    margin: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.side-content .medium-headline {
  margin-bottom: 35px;
  padding-left: 20px;
}

@media screen and (max-width: 1400px) {
  .side-content .medium-headline {
    margin-bottom: 10px;
  }
}

.side-content p {
  line-height: 2;
  padding-left: 20px;
  padding-right: 20px;
}

.side-content .detail-btn {
  margin-top: 40px;
  margin-right: 0;
}

@media screen and (max-width: 1400px) {
  .side-content .detail-btn {
    margin-top: 10px;
  }
}

.right-justify {
  margin-top: 80px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*** 会社案内 採用情報 ***/
.company-recruit-section {
  max-width: 1280px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 750px;
  height: 52.7vw;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .company-recruit-section {
    height: 55vw;
  }
}

.company-recruit-section .background-square1 {
  width: 62.5%;
  height: 45.7vw;
  max-height: 650px;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  .company-recruit-section .background-square1 {
    height: 50vw;
  }
}

.company-recruit-section .background-square2 {
  width: 62.5%;
  height: 45.7vw;
  max-height: 650px;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .company-recruit-section .background-square2 {
    height: 50vw;
  }
}

.image-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 7.8%;
  margin-left: 7.8%;
}

.image-title-container img {
  width: 100%;
  display: block;
}

.image-title-item {
  position: relative;
  margin: 1.6%;
}

.image-text-container {
  height: 75px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .image-text-container {
    position: relative;
  }
}

@media screen and (max-width: 599px) {
  .image-text-container {
    height: 50px;
  }
}

.image-text-container h3 {
  padding-left: 30px;
}

@media screen and (max-width: 599px) {
  .image-text-container h3 {
    font-size: 2rem;
  }
}

/*** 新着情報 ***/
.news-section {
  background-color: #f2f2f2;
  padding: 75px;
}

@media screen and (max-width: 1400px) {
  .news-section {
    padding-left: 0;
    padding-right: 0;
  }
}

.news-section h2 {
  color: #333;
}

.news-container {
  max-width: 1280px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.news-container .h2-subheadline {
  color: #2a2f90;
}

.news-contents {
  margin-top: 30px;
  margin-bottom: 65px;
}

.news-item {
  padding-left: 20px;
  position: relative;
}

.news-item:nth-child(even) {
  background-color: #f0f0fa;
}

.news-item p.underline {
  text-decoration: underline;
}

/*** お問い合わせ ***/
.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  max-width: 1280px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  color: #fefefe;
  background-color: #040865;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-section .h2-subheadline {
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  .contact-section {
    display: block;
  }
}

.contact-container {
  width: 50%;
  padding-top: 35px;
  padding-bottom: 45px;
}

@media screen and (max-width: 1024px) {
  .contact-container {
    width: 100%;
  }
}

.contact-container p {
  margin-top: 50px;
  line-height: 2;
}

.contact-container + .contact-container {
  border-left: solid 1px #fefefe;
  padding-top: 50px;
}

@media screen and (max-width: 1024px) {
  .contact-container + .contact-container {
    border: none;
  }
}

.tel {
  font-size: 3rem;
  letter-spacing: 0.05em;
  font-weight: bold;
}

@media screen and (max-width: 599px) {
  .tel {
    font-size: 2rem;
  }
}

.tel-number {
  font-size: 48px;
  letter-spacing: 0.05em;
  font-weight: bold;
}

@media screen and (max-width: 599px) {
  .tel-number {
    font-size: 3rem;
  }
}

.contact-btn {
  border: solid 1px #fff;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 18em;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.2em;
}

/*** フッター ***/
footer {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #020534;
  color: #fff;
}

.footer-container {
  max-width: 1280px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.footer-container h2 {
  font-size: 30px;
}

.footer-container hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.padding-left-0 {
  padding-left: 0;
}

.footer-below-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
}

@media screen and (max-width: 1024px) {
  .footer-menu {
    display: inline;
  }
  .footer-nav-item {
    padding-left: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.copyright {
  font-size: 12px;
}
/*# sourceMappingURL=main.css.map */