@import "definitions.scss";

header {
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: #fff;
  border-bottom: solid 1px #eee;
}

@include mq(tab) {
  header {
    position: relative;
  }

  #nav-menu {
    display: none;
    &.hamburger-menu {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 80;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: hsla(0, 0%, 100%, 0.9);
      ul {
        position: absolute;
        bottom: 0;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        height: 400px;
        .nav-item {
          font-size: 3rem;
          padding: 30px;
          @include mq(sp) {
            font-size: 2rem;
            padding: 20px;
          }
        }
      }
    }
  }

  .menu-list {
    margin-top: auto;
    margin-bottom: 0;
  }

  .menu-item {
    margin: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: serif;
  }

  // ハンバーガーボタンの位置指定
  #hamburger-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
  }

  // 棒の表示・追加
  .bun,
  .bun:before,
  .bun:after {
    position: absolute;
    display: block;
    width: 25px;
    height: 3px;
    background-color: hsla(0, 0, 60%, 0.5);
    border-radius: 3px;
    content: "";
  }

  .bun:before {
    bottom: 8px;
  }
  .bun:after {
    top: 8px;
  }

  // 開いているときにXマークにする
  .in-open .bun {
    background-color: rgba(
      255,
      255,
      255,
      0
    ); /*メニューオープン時は真ん中の線を透明にする*/
    &::before {
      bottom: 0;
      transform: rotate(45deg);
    }
    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}
